h1 { /* Alle h1-Elemente stylen */
    border-bottom: 1px dashed black;
    /* Kleinbuchstaben als kleine Großbuchstaben darstellen */
    font-variant: small-caps;
    /* Schriftfarbe ändern */
    color: steelblue;
}